<h1 mat-dialog-title>Confirmar Cadastro</h1>
<div mat-dialog-content>

<!--
<mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    
    <input matInput [(ngModel)]="data.name" [disabled]="true">
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Role</mat-label>
    
    <input matInput [(ngModel)]="data.role">
</mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data.name" cdkFocusInitial>Ok</button>
</div>
-->
<div mat-dialog-content>
    <h2>
    Name <label>{{data.name}}</label> <br>

    Role <label>{{data.role}}</label> <br>
    </h2>

</div>

<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="">Cancelar</button>
    <button mat-button [mat-dialog-close]="data.name" cdkFocusInitial>Cadastrar</button>
</div>