<table mat-table [dataSource]="users" class="mat-elevation-z8" style="width: 70%;float:left" #delTable>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let user of users"> {{user.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let user of users"> {{user.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="Role">
      <th mat-header-cell *matHeaderCellDef> Role </th>
      <td mat-cell *matCellDef="let user of users" style="padding-right: 20px"> {{user.role}} </td>
    </ng-container>

    <ng-container matColumnDef="Birthday">
      <th mat-header-cell *matHeaderCellDef> Birthday </th>
      <td mat-cell *matCellDef="let user of users"> {{ user.birthday | date}} </td>
    </ng-container>

    <ng-container matColumnDef="Salary">
      <th mat-header-cell *matHeaderCellDef> Salary </th>
      <td mat-cell *matCellDef="let user of users" > {{user.salary}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Phone">
      <th mat-header-cell *matHeaderCellDef> Phone </th>
      <td mat-cell *matCellDef="let user of users"> {{user.phone | mask: '(00) 0 0000-0000'}} </td>
    </ng-container>

    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let user of users"> {{user.email}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <div appearance="outline" style="border: 1px solid gray;border-radius: 5px;width: 300px; height: 600px;float:left;margin-left: 100px;">
  
    <form [formGroup]="cadastroForm" (ngSubmit)="onTrySubmit()">

      <div>
        <mat-form-field class="example-full-width" appearance="fill" style="width: 100%">
          <mat-label>Name</mat-label>
          <input matInput id="name" type="text" formControlName="name" #nameInput>
        </mat-form-field>
      </div>
    
      <div>       
        <mat-form-field class="example-full-width" appearance="fill" style="width: 100%">
          <mat-label>Role</mat-label>
          <input matInput id="role" type="text" formControlName="role" #roleInput> 
        </mat-form-field>
      </div>
    
      <div>
      <mat-form-field appearance="fill" style="width: 100%">
        <mat-label>Birthday (mm/dd/yyyy)</mat-label>
        <input formControlName="birthday" matInput [matDatepicker]="picker">
        <!--<mat-hint>MM/DD/YYYY</mat-hint>-->
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div>       
      <mat-form-field class="example-full-width" appearance="fill" style="width: 100%">
        <mat-label>Salary</mat-label>
        <input matInput id="salary" type="text" formControlName="salary" #salaryInput (blur)="transformAmount($event)" [(ngModel)]="formattedAmount"> 
      </mat-form-field>
    </div>

    <div>       
      <mat-form-field class="example-full-width" appearance="fill" style="width: 100%">
        <mat-label>Phone</mat-label>
        <input matInput id="phone" type="text" formControlName="phone" #phoneInput mask='(00) 9 0000-0000'> 
      </mat-form-field>
    </div>

    <div>       
      <mat-form-field class="example-full-width" appearance="fill" style="width: 100%">
        <mat-label>Email</mat-label>
        <input matInput id="email" type="text" formControlName="email" #emailInput> 
      </mat-form-field>
    </div>

      <button mat-button class="button" type="submit" required>Cadastrar</button>
    
    </form>

  </div>
  

  